[GdmGreeterTheme]
Greeter=Setting.xml
Name=Eternal Love 
Description=Eternal Love Theme Based on Human
Author=Karim Oulad Chalha
Copyright=(c) 2010
Screenshot=screenshot.png
