[GdmGreeterTheme]
Encoding=UTF-8
Greeter=aurora-theme.xml
Name=Linkin Park
Description=Linkin Park GDM Theme Based in Ubuntu Black
Screenshot=screenshot.png
Author=Karim Oulad Chalha
Copyright=(c) 2010 herr-linux
