[GdmGreeterTheme]
Greeter=Quran.xml
Name=Quran 0.1 
Description=Quran Theme is Based in technical theme 
Author=Karim Oulad Chalha
Copyright=(c) 2010
Screenshot=Screenshot.png
